:root {
  --color-primary: #00bfff;
  --color-primary-hover: #108fb9;
  --color-accent: #ff7f32;
  --color-bg: #fff;
  --color-bg-secondary: #f5f7fa;
  --color-bg-tertiary: #0B1F40;
  --color-text: #222;
  --color-success: #3bb273;
  --color-black: #000000;
  --color-white: rgba(239, 237, 237, 0.8);
}

.header {
  background: var(--color-bg);
  color: var(--color-text);
}

.button-primary {
  background: var(--color-primary);
  background-color: var(--color-primary-hover);
  color: var(--color-bg);
}
